td, body {color:#000000; font-family:Tahoma, Arial; font-size:12px;}
a {color:#006699; text-decoration:none; font-weight:bold;}
a:hover {color:#000000; text-decoration:none; font-weight:bold;}
a:active {color:#000000; text-decoration:none; font-weight:bold ;}